/*Header css */
.header{
	background-color: #edeff1;
}
.navbar img {
    margin-bottom: 50px;
    margin-top: 50px;
    vertical-align: middle;
    border-style: none;
}
.navbar-light .navbar-nav .nav-link {
    color: #31353e;
    margin-right: 12px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #f3f5f9;
    background-color: #dd4b2b;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*banner section css */
.banner{
	background: url("../img/main-background.png");
	background-size: cover;

}

.banner-heading h5{
	color: white;
	font-size: 30px;
	text-align: center;
	margin-top: 350px;
	text-shadow: 2px 2px black;
	margin-bottom: 30px;
}
.banner-heading p{
	color: white;
	text-align: center;
	margin-bottom: 130px;
	text-shadow: 2px 2px black;
}
.banner-content img{
	display: block;
	margin: 0 auto;
	margin-bottom: 25px;
}

.banner-content h4{
	color: white;
	text-align: center;
	margin-bottom: 25px;
}
.banner-content p{
	color: white;
	text-align: center;
	margin-bottom: 80px;
}
.btn-custom{
	margin: 0 auto;
	display: block;
	margin-bottom: 140px;
	width: 210px;
	height: 55px;
	color: #612316;
	border-radius: 25px;
	border: 1px solid #612316;
}

.btn-custom:hover{
	color: gray;
}

/*news section css */
.news{
	background-color: #edeff1;
}
.news-header h2{
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
}

.news-content img{
	display: block;
	margin: 0 auto;
}

.news-content h4{
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}
.news-content p{
	margin-bottom: 40px;
	text-align: center;
}

.btn-read-more{
	width: 170px;
	height: 45px;
	display: block;
	margin: 0 auto;
	margin-bottom: 100px;
	border-radius: 25px;
	border: none;
	background-color: white;
}
.btn-read-more:hover{
	border-top-left-radius: 20px;
	background-color: green;
	color: red;
}

.newsletter{
	background: url(../img/newsletter-bck.png);
	background-size: cover;
}
.newsletter-header h3{
	text-align: center;
	color: #581d1d;
	margin-bottom: 20px;
	margin-top: 90px;

}
.para{
	width: 50%;
	display: block;
	margin: 0 auto;
	text-align: center;
	color: white;
	margin-bottom: 40px;
}
.form{
	width: 100%;
	position: relative;
	margin-bottom: 70px;
}
.form-control{
    height: 40px;
    margin: 0 auto;
    padding-left: 20px;
    border-radius: 25px;
    opacity: 0.7;
    border: 1px solid #8c7e7e;
}
.btn-sign-up{
	height: 40px;
	width: 170px;
	border-radius: 25px;
    color: #612316;
    border: 1px solid #8c7e7e;
    text-align: center;
    background-color: white;
}
.sign-up{
	position: absolute;
	right: 0;
	top: 0;
}
/*product details section css */
.btn-product-sign-up{
	width: 210px;
	height: 50px;
	background-color: #dd4b2b;
	color: white;
	text-align: center;
	border-radius: 25px;
	border: none;
}

.btn-product-sign-up:hover{
	background-color: #4b4e73;
}
 
.product-details h3{
	text-align: left;
	margin-bottom: 30px;
	margin-top: 125px;
}

.product-details p{
	text-align: left;
	margin-bottom: 50px;
}

.product-details img{
	margin-top: 50px;
}
.margin{
	margin-bottom: 120px;
}

/*services section css */
.services{
	background-color: #d75d0e;
}
.services-content a{
	text-decoration: none;
	color: white;
}

.services-content ul{
	list-style: none;
	margin-bottom: 60px;
	margin-top: 95px;
	text-align: center;
}

/*footer section css */
footer{
	background: url(../img/footer-bck.png);
	background-size: cover;
}

.footer-content{
	display: block;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 250px;
	margin-top: 90px;
	text-align: center;
}